:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --main-text-color: #fff;
  --main-bagt-color: #fff;
}

 /* ........index.html........ */
.body-container {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}
/* Effective Solutions for Your Business */
.section-hero {
  padding: 188px 0;
  background-color: var(--color-grey);
  }

 .nav-list  {
   font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris);
  display: flex;
  align-items: center;
  margin-right: auto;
   }

 .header-logo-link{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
 }
 
 .link{
  text-decoration: none;
  color: inherit;
 }
 .list {
   list-style: none;
 }

 .header-logo-list{
  color:var(--color-navy-blue);
 }

.header-list { 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-grey);
padding: 24px 0;
}
.header-list:hover{
  color: var(--color-ocean);
}
.header-list:focus{
 color: var(--color-ocean);
}

.contact{
  font-style:normal;
}

.contact-item{
  font-size:16px;
  line-height:1.5;
  letter-spacing:0.02em;
  color:var(--color-slate);
}

.contact-link {
  font-size:16px;
  line-height:1.5;
  letter-spacing:0.02em;
  color:var(--color-slate);
}

.contact-link:hover{
  color:var(--color-ocean);
}
.contact-link:focus {
  color:var(--color-ocean);
}

.hero-soluction{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color:var(--color-white);
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;

}
.btn-list-text{
  font-family:"Roboto" sans-serif;
  background-color: var(--color-iris); 
  color:var(--main-bagt-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor:pointer;
  color:var(--main-bagt-color);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.btn-list-text:hover{
background-color: var(--color-ocean);
}
.btn-list-text:focus {
  background-color:var(--color-ocean);
}

/* Strategy  */
        .about-list-link {
          font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 0.02em;
          color: var(--color-grey);
          background-color: var(--main-text-color);
          margin-bottom: 8px;
        }

.text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  color: var(--color-slate);
}

 .gallery-list {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--color-grey);
  margin-bottom: 72px;
 }

.section-team-list {
 background-color: var(--color-cloud);
padding: 120px 0 ;
 }
 .teams-list{
    font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--color-grey);
      margin-bottom: 72px;

 }

 .img-list {
color: var(--color-grey,);
background-color: var(--color-white);
border-radius: 0px 0px 4px 4px;

 }
 .list-service{
  width: calc((100% - 48px) / 3);
 }
 .service-container{
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
 }

 .img-container{
  padding: 32px 16px;
  text-align: center;
 }

.footer-container-link {
  background-color: var(--color-navy-blue);
  padding: 100px 0;
}

  
.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-link {
   color: var(--color-cloud);
    display: inline-block;
  }

     .text-footer {
       font-size: 16px;
       line-height: 24px;
       letter-spacing: 0.02em;
       color: var(--color-cloud);
       max-width: 264px;
     }

 .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate,);
  }
/* portfolio page */
.portfolio-btn-list-text{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
}
.portfolio-btn-list-text:hover {
  color:var(--main-bagt-color);
  background-color: var(--color-ocean);
  border: 1px solid transparent;
}

.portfolio-btn-list-text:focus {
  color: var(--main-bagt-color);
  background-color:var(--color-ocean);
  border: 1px solid transparent;
}
.portfolio-title{
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--color-grey,);
    margin-bottom: 8px;

}
.portfolio-desk{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
}

.portfolio-page{
  padding: 96px 0 120px;
}
.portfolio-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.portfolio-list-class {
  margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
  padding: 0;
}
 ul,
 ol{
  margin: 0;
  margin-bottom: 0 ;
  padding-left: 0;
 }
* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-header{
  display: flex;
  align-items: center;
  margin: 0, auto;
  
}
.header{
  border-bottom: 1px solid var(--color-cornflower);
}
.container{
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-images-list{
  display: flex;
  width: calc((100% - 3 * 16px) / 3);
}
  .list-img-list {
      display: flex;
      gap: 24px;
    }

.img-list-link{
  display: flex;
  gap: 24px;
}

.about-link {
  display: flex;
  gap: 24px;
}

 .header-list-link{
  display: flex;
  gap: 40px;
 }
.contact-list{
  display: flex;
  gap: 40px;
}

.section-about{
  padding: 120px 0;
}
.section-gallery-list{
padding-bottom: 120px;
}
.images{
  display: block;
  width: 100%;
  height: auto;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.list-link{
  flex-basis: calc((100% - 3 * 24px) / 4) ;
}







                          